:root {
    --bubblegum-pink: #FF0F7B;
    --dark-blue: #000123;
    --dark-gray: #272727;
    --light-gray: #B5B5B5;
    --white: #FFFFFF;
    --font-orbiton: 'Orbitron', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-orbiton);
}

body {
    background-color: var(--dark-blue) !important;
}

.carousel {
    width: 100% !important;
    margin-top: 60px;
}

.main {
    background-color: var(--dark-blue);
}

.carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
}

button.active {
    background-color: var(--bubblegum-pink) !important;
}

.carousel-control-next, .carousel-control-prev {
    z-index: 0 !important;
}

.card-image {
    width: 80%;
    border-radius: 5px;
}

.card-stars {
    margin: 0;
    padding: 0;
}

.bi-star-fill,
.bi-star-half {
    color: var(--bubblegum-pink);
}

.main-ratings {
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 100px;
    text-align: center;
}

.container-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 25px;
}

.main-ratings--title {
    font-size: 20px;
    color: var(--white);
}

.card-gameName {
    font-size: 15px;
    margin: 0;
    color: var(--white);
}

.container-cards-card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

@media (min-width: 768px) {
    .main-ratings {
        margin-top: 60px;
        margin-bottom: 150px;
    }

    .carousel {
        margin-top: 70px;
    }

    .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .card-gameName {
        font-size: 22px;
    }

    .bi-star-fill,
    .bi-star-half {
        font-size: 1.3rem;
    }


    .card-image{
        width: 300px;
    }

}  

@media (min-width: 1024px) {
    .main-ratings {
        margin-top: 60px;
        margin-bottom: 150px;
    }

    .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-gameName {
        font-size: 29px;
    }

    .bi-star-fill,
    .bi-star-half {
        font-size: 1.5rem;
    }

    .card-image{
        width: 400px;
    }

    .card-image:hover {
        transition: 0.1s;
        box-shadow: 2px 4px 25px 3px rgba(175,42,122,1);
    }

}

@media (min-width: 1440px) {
    .main-ratings {
        margin-top: 60px;
        margin-bottom: 150px;
    }
    
    .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card-gameName {
        font-size: 36px;
    }

    .bi-star-fill,
    .bi-star-half {
        font-size: 1.7rem;
    }

    .card-image{
        width: 500px;
    }

    .card-image:hover {
        transition: 0.1s;
        box-shadow: 2px 4px 25px 3px rgba(175,42,122,1);
    }

}