* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    background-color: #000123;
}
h1 {
    font-size: 5dvw;
}

.mt-10 {
    margin-top: 12dvw;
}
/*      Colors     */

.blue, .footer, .navbar, .offcanvas {
    background-color: #000123 ;
}
.white {
    background-color: #FFFFFF;
}
.gray {
    background-color: #272727;
}
.text-pink {
    color: #FF0F7B;
}
.bg-pink {
    background-color: #FF0F7B;
}
.icon_page {
    font-size: 8dvw;
    color: #FFFFFF;
}
.icon_page:active {
    font-size: 7.8dvw;
    color: #000123;
}
.icon_star_top {
    font-size: 6dvw;
}
.icon_star {
    font-size: 5dvw;
}

.bi-person-fill {
    font-size: 8dvw;
    color: #FFFFFF;
} 

.card-title {
    font-size: 5dvw;
}

.fs-md-10 {
    font-size: 4.5dvw;
}
.fs-10 {
    font-size: 10dvw;
}
.star-hover {
  display: none;
}
.card-img-top {
    box-shadow: 0px 0px 15px 5px #ff0f7b2e;
}
    


/*Tablet styles*/

@media (min-width: 768px) {
    .icon_aside {
        font-size: 4dvw;
    }
    .icon_star_top {
        font-size: 5dvw;
    }
    .card-title {
        font-size: 3dvw;
    }
    .icon_star {
        font-size: 3dvw;
    }
    .bi-person-fill {
        font-size: 3.5dvw;
        color: #FFFFFF;
    } 
    .offcanvas-start {
        margin-left: 8.3dvw;
    }
    .offcanvas-title {
        margin-left: 3dvw;
        margin-top: 3dvw;
    }
    .opacity-md-100 {
        opacity: 100% !important;
    }
    .ms-10 { 
        margin-left: 8.1dvw;
    }
} 

/*Desktop styles*/

@media (min-width: 992px) {
    .icon_page {
        font-size: 4dvw;
    }
    h1 {
        font-size: 4dvw;
    }
    .card-title {
        font-size: 2dvw;
    }
    .offcanvas-start {
        margin-left: 8.3dvw;
    }
    .offcanvas-title {
        margin-left: 3dvw;
        margin-top: 3dvw;
    }
    .bi-person-fill {
        font-size: 3.5dvw;
        color: #FFFFFF;
    } 
    .main_img:hover {
        filter: opacity(0.5);
    }
    .icon_page:hover {
        color: #FF0F7B;
        transition-duration: 0.5s;
    }
    .icon_page:active {
        color: #000123;
        font-size: 3.8dvw;
    }
    .star-hover {
        opacity: 0;
        position: absolute;
        display: flex;
        width: 100%;
        height: 13dvw;
        justify-content: center;
        align-items: center;
    }
    .card-img-top {
        overflow:hidden;
    }
    .star-hover:hover {
        display: flex;
        position: absolute;
        visibility: visible;
        opacity: 1;  
        background-color: #272727ab;
        width: 100%;
        height: 70%;
    }

} 
/*---ANIMATIONS NAVBAR Y FOOTER---*/
.btn-hover{
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    z-index: 0;
    transition: all 0.3s;
}
.btn-hover::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 70%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #383b84, transparent);
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)
        skew(-20deg);
}
.btn-hover:hover::before{
    transform: translateX(300px)
    skew(-20deg);
}
.btn-hover:hover{
    background: #272727;
}
.link-hover{
    padding: 3%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    color: #fff;
    z-index: 0;
    transition: all 0.3s;
}

.link-hover::before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -50px;
    width: 110%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #383b84, transparent);
    transition: all 1s;
    z-index: -1;
    transform: translateX(-120px)
        skew(-20deg);
}

.link-hover:hover::before{
    transform: translateX(300px)
    skew(-20deg);
}
.page-title{
    user-select: none;
}
.title-hover{
    position: absolute;
    top: 35%;
    left: 35%;
    background: linear-gradient(45deg, #383b84, #272727, #FF0F7B, #00FFFF, #fff, rgba(128, 128, 128, 0.493));
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}
@keyframes animate{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 200%;
    }
}
.media-icon--twitter:hover {
    top: 35%;
    left: 35%;
    background: linear-gradient(90deg, #00FFFF, #fff, #00FFFF);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}
.media-icon--facebook:hover {
    top: 35%;
    left: 35%;
    background: linear-gradient(90deg, #0052f6, #fff, #0052f6);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}
.media-icon--youtube:hover {
    top: 35%;
    left: 35%;
    background: linear-gradient(90deg, #ff0000, #fff, #ff0000);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}
.media-icon--instagram:hover {
    top: 35%;
    left: 35%;
    background: linear-gradient(90deg, #ff8529, #feda77, #dd2a7b, #8134af, #515bd4, #ff8529);
    background-size: 400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}
.aside:hover {
    width: 400px !important;
    background-color: #000123;
    border-radius: 10px;
}

