body {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
}
h1 {
    font-size: 3.5dvw;
}
.icon_aside {
    font-size: 50px;
}
.icon_page {
    font-size: 45px;
}

.blue {
    background-color: #000123 ;
}
.white {
    background-color: #FFFFFF;
}
.gray {
    background-color: #272727;
}
.text-pink {
    color: #FF0F7B;
}
.card {
    width: 30dvw;
}
.icon_aside {
    font-size: 50px;
}
.icon_page {
    font-size: 45px;
}
.card-title {
    font-size: 2dvw;
}